@charset "UTF-8";
/* colores */
/* tipografías */
nav {
  background-color: #181818;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
}

nav > .logo {
  width: 30px;
  margin-left: 1.5rem;
}

nav .navbar-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .navbar-links-container a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 10px;
}

nav .navbar-links-container a:hover {
  background-color: #fca311;
}

.section-container {
  max-width: 100vw;
  min-height: 100vh;
}

.section1 {
  background-color: #252628;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1 p {
  font-size: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h1 .myName {
  color: #fca311;
}

.profile-img {
  width: 300px;
  border-radius: 50%;
  border: solid 15px #adb5bd;
}

@media only screen and (max-width: 900px) {
  .text-container {
    text-align: center;
  }
}

.section2 {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 20px;
  background-color: #fca311;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.gallery__item--item1 {
  background-image: url(../images/proyectos.jpg);
}

.gallery__item--item2 {
  background-image: url(../images/portafolio.jpg);
}

.gallery__item--item3 {
  background-image: url(../images/voluntariado.jpg);
}

.gallery__title {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(170, 164, 164, 0.5);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */