/* RESET */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* GLOBAL STYLES */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html {
  scroll-behavior: smooth;
  /* Con esta propiedad hacéis que la transición de una altura a otra en la página sea suave */
}
body {
  background-color: #f9f4ef;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #020826;
}

p {
  color: #716040;
}

a {
  color: #f25042;
}

/* STYLING */
/* ---------------NAV---------------- */
header {
  top: 0;
  position: fixed;
}
.navigator-list {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  backdrop-filter: blur(4px);
}

.navigator-list__item {
  text-transform: uppercase;
}

.navigator-list__item a:hover {
  color: #020826;
  transform: rotate(2deg);
  transition-duration: 1s;
}

.navigator-list__item--icon img {
  width: 34px;
}
/* --------------MAIN--------------- */
/* HERO */
.hero {
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;
  margin-top: 8vh;
}

.hero h1 {
  padding: 10px;
  color: white;
}

.hero p {
  text-align: justify;
  color: rgb(179, 179, 179);
}

/* MOVIE-GALLERY */

.movies-title {
  text-align: center;
  margin-top: 20px;
}
.movie-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.movie-gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0 20px;
}
.movie-gallery__item div {
  width: 200px;
  height: 300px;
  border: solid black 3px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;
}

.movie-gallery__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie-gallery__item p {
  margin: 4px;
}

.movie-gallery__item:hover {
  cursor: pointer;
  filter: grayscale(100%);
  transform: rotate(2deg);
  transition-duration: 1s;
}

/* CONTACT */

.contact-title {
  text-align: center;
  margin-top: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact p {
  margin: 10px;
}

.contact a::before {
  content: "✉️";
  padding-right: 4px;
}

/* --------------FOOTER--------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b8b4b1;
  margin-top: 14px;
}

.social {
  display: flex;
  justify-content: space-around;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.social__item img {
  width: 40%;
}

footer p {
  padding: 10px;
}
